VITE_SUPABASE_URL=https://seu-projeto.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
VITE_EMPRESA_ID=1a00d0fe-0d10-48b2-aff7-68e941967f0f
VITE_EMPRESA_SLUG=conexao
DOCKER_HUB_USERNAME=hevertonperes
DOCKER_HUB_PASSWORD=YOUR_PASSWORD
VPS_IP=YOUR_VPS_IP
VPS_USER=YOUR_VPS_USER
VPS_PASSWORD=YOUR_VPS_PASSWORD
